@* Здесь надо менять размеры в зависимости от размера плеера*@ 
<style>
    #flashControls {
        position: absolute;
        z-index: 100;
        width: 700px;
       
        height: 500px;
        border: 1px solid red;
    }
</style>
@*Block Screen*@
<div id="flashControls">
    @if (ViewBag.CameraState == "Занята")
    {

        <span class="badge badge-danger">@ViewBag.CameraState</span>
    }
    else
    {
        <span class="badge badge-success">@ViewBag.CameraState</span>
    }

    @*<a href="#click" onclick="window.location.href='@Url.Action("BigCamera", "Detail", Model)'" >
            12345
        </a> *@


</div>
