@model  RemoteControl.Models.Camera

  
<div id="but">
    @{AjaxOptions ajaxOpts = new AjaxOptions()
      {
          UpdateTargetId = "but",
            
          Url = Url.Action("Disconnect", Model)
          
      };
    }
    @using (Ajax.BeginForm(ajaxOpts))
    {

        <input type="submit" class="btn btn-danger" value="Disconnect" name="waiting" />
    }


    <style>
        #box {
            position: absolute;
            z-index: 100;
            width: 700px;
            height: 500px;
            border: 0px solid red;
        }

        #cont {
            position: relative;
            width: 100%;
            height: 100%;
            border: 1px solid green;
        }

        .ctrl {
            text-align: center;
            background-image: none;
            width:50px;
            height:50px;
            display: inline;
            padding: 20px;
            border: 0px solid gray;
            color: blue;
            position: absolute;
        }
    </style>

    <audio id="myTune">
        <source src="@Url.Content("~/Content/click.mp3")">
    </audio>

  

    @*Хардкод проверки камеры,  нужно будет сделать свойства у контроллера: сколько кнопок у него и их позиции *@
    
    <div id="box">
       
                @if (Model.Name == "cam1")
{      @* Проверить href , чтобы не было переходa*@
            <a href=@Url.Action("Click", new { out_id=3}) onclick="PlayAndClick(3)" class="ctrl" style="left: 130px; top: 295px;">

            </a>
}
else if (Model.Name == "cam2")
{
            <a href="#click" onclick="PlayAndClick(2)" class="ctrl" style="left: 255px; top: 120px;">

            </a>
        <a href="#click" onclick="PlayAndClick(1)"  class="ctrl" style="left: 415px; top: 130px;">

        </a>
        }
       
       
       
    </div>

    
    <script type="text/javascript">
    function PlayAndClick(out_id) {
        document.getElementById("myTune").play();
        $.get("http://82.209.194.198/oc?" + out_id);//82.209.194.198
        return true;
    }
    </script>



   

</div>