<div id="but">
    @{AjaxOptions ajaxOpts = new AjaxOptions()
      {
          UpdateTargetId = "but",
          Url = Url.Action("Connect", Model)
          
      };
    }
    @using (Ajax.BeginForm(ajaxOpts))
    {


        <input type="submit" class="btn btn-success" value="Connect" name="waiting" />

    }
</div>
