@model  RemoteControl.Models.Camera
<div id="but">
    @{AjaxOptions ajaxOpts = new AjaxOptions()
      {
          UpdateTargetId = "but",
          Url = Url.Action("TakeQueue", Model)
          
      };
    }
    @using (Ajax.BeginForm(ajaxOpts))
{


    <input type="submit" class="btn btn-success" value="Take place in the Queue" name="waiting" />

}
</div>


