<div id="but">
    @{AjaxOptions ajaxOpts = new AjaxOptions()
      {
          UpdateTargetId = "but",
          Url = Url.Action("QuitQueue", Model)
        
      };
    }
    @using (Ajax.BeginForm(ajaxOpts))
    {


        <input type="submit" class="btn btn-danger" value="Quit from the queue" name="waiting" />

    }
</div>

