@model IEnumerable<RemoteControl.Models.Camera>

@foreach (var cam in Model)
{

    <div class="col-sm-4">
        <div id="link">@Html.ActionLink(cam.Name, "Detail", cam) </div>
        
        <div id="player">@Html.Action("Player", cam)</div>
    </div>
}
